<div>
	<div class="page-content">
		<div class="container">
			<div class="col-xs-8" >
				<div class="jumbotron">
					<div class="row" style="padding-left:0px;">
						<div class="col-xs-7" style="padding-left:0px;"><h1 translate>My Website</h1></div>
						<div class="col-xs-3" style="padding-left:0px;">Alpha version</div>
					</div>
					<p class="lead" translate>Help you build Login, Sign up and reset password</p>
					<br>
					
					<div class="row col-xs-12" style="margin-bottom:30px;">
						<div class="btn btn-primary" ng-click="redirectTo('login')">Login</div>
						<div class="btn btn-primary" ng-click="redirectTo('signup')">Sign Up</div>
						<div class="btn btn-primary" ng-click="logout()">Logout</div>
					</div>
				</div><!-- end of jumbotron -->
			</div>
		</div>
	</div><!-- end of page-content -->
</div>
